server:
  port: 8080

spring:
  application:
    name: platform
  datasource:
    url: jdbc:postgresql://localhost:5432/ticketing_db
    username: ticketing_user
    password: ticketing_password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
        ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

logging:
    level:
        root: INFO



